argh==0.26.2
commonmark==0.9.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
pathtools==0.1.2
peewee==3.14.10
pygments==2.11.2; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.5"
pyyaml==6.0; python_version >= "3.6"
rich==12.2.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
typing-extensions==4.1.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version < "3.9" and python_version >= "3.6"
watchdog==0.9.0
xmltodict==0.12.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
