<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <title>{{ roster_entry.roster_id }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div id="content">
            <div class="contentHorizontalPadding">
                <h1 id="title">{{ roster_entry.get_friendly_id() }}</h1>
                {% if roster_entry.name -%}
                    <h2 id="name">{{ roster_entry.name }}</h2>
                {% endif %}
                <h2 id="address" class="valueWithlabel"><span class="valueLabel">Address: </span>{{ roster_entry.dcc_address }}</h2>            
            </div>
            {% if roster_entry.has_image() -%}
            <div class="contentBlock contentVerticalPadding">
                <img id="image" src="../../api/v2/roster_entry/{{ roster_entry.roster_id }}/image?size=900"/>
            </div>
            {% endif %}
            <div class="contentBlock contentHorizontalPadding contentVerticalPadding">
                <h3 id="locomotiveInfoTitle">Locomotive information</h3>
                <table id="basicInfo" class="valueTable" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="tableRowLabel"><p class="label">Roster ID:</p></td>
                        <td class="tableRowValue"><p class="value">{{ roster_entry.roster_id }}</p></td>
                    </tr>
                    {% if roster_entry.manufacturer -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Manufacturer:</p></td>
                            <td class="tableRowValue"><a href="/?manufacturer={{ roster_entry.manufacturer|urlencode }}"><p class="value">{{ roster_entry.manufacturer }}</p></a></td>
                        </tr>
                    {% endif %}
                    {% if roster_entry.model -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Model:</p></td>
                            <td class="tableRowValue"><a href="/?model={{ roster_entry.model|urlencode }}"><p class="value">{{ roster_entry.model }}</p></a></td>
                        </tr>
                    {% endif %}
                    {% if roster_entry.owner -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Owner:</p></td>
                            <td class="tableRowValue"><a href="/?owner={{ roster_entry.owner|urlencode }}"><p class="value">{{ roster_entry.owner }}</p></a></td>
                        </tr>
                    {% endif %}
                    {% if roster_entry.decoder -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Decoder:</p></td>
                            <td class="tableRowValue"><a href="/?decoder={{ roster_entry.decoder|urlencode }}"><p class="value">{{ roster_entry.decoder }}</p></a></td>
                        </tr>
                    {% endif %}
                    {% if roster_entry.last_operated -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Last Operated (JMRI):</p></td>
                            <td class="tableRowValue"><p class="value">{{ roster_entry.last_operated_datetime().strftime('%Y-%m-%d %H:%M') }}</p></td>
                        </tr>
                    {% endif %}
                    {% if roster_entry.operating_duration -%}
                        <tr>
                            <td class="tableRowLabel"><p class="label">Operating duration  (JMRI):</p></td>
                            <td class="tableRowValue"><p class="value">{{ roster_entry.operating_duration_hms() }}</p></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            {% if roster_entry.comment -%}
                <div class="contentBlock contentHorizontalPadding contentVerticalPadding">
                    <h3 id="commentsTitle">Comment</h3>
                    <p id="comment" class="body">{% autoescape false %}{{ roster_entry.comment | replace("\n", "<br/>") }}{% endautoescape %}</p>
                </div>
            {% endif %}
            {% if roster_entry.functions -%}
            <div class="contentBlock contentHorizontalPadding contentVerticalPadding">
                <h3>Functions</h3>
                <table id="functions" class="valueTable" cellspacing="0" cellpadding="0">
                {% for function in roster_entry.functions %}
                    <tr>
                        <td class="tableRowLabel"><p class="label">{{ function.number }} {% if not function.lockable -%} (momentary){% endif %}</p></td>
                        <td class="tableRowValue"><p class="value">{{ function.name }}</p></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}
            <div id="footer" class="contentHorizontalPadding contentVerticalPadding">
                <p>JMRI roster v2.1. Source on <a href="https://github.com/wormoworm/jmri-roster">GitHub</a>.</p>
            </div>
        </div>
    </body>
</html>