/* Variables. */

:root{
    --margin-horizontal-large: 32px;
    --margin-horizontal-medium: 24px;
    --margin-horizontal-small: 16px;
    --margin-vertical-large: 32px;
    --margin-vertical-medium: 16px;
    --margin-vertical-small: 8px;
    --margin-vertical-tiny: 4px;
    --text-size-h1: 34px;
    --text-size-h2: 26px;
    --text-size-h3: 20px;
    --text-size-body: 16px;
    --colour-page-background: #ffffff;
    --colour-content-background: #f6f6f6;
    --colour-content-background-highlight: #eeeeee;
    --colour-text: #000000;
    /* --colour-page-background: #222222;
    --colour-content-background: #111111;
    --colour-content-background-highlight: #333333;
    --colour-text: #FFFFFF; */
}

@media only screen and (max-width: 767px){
    :root{
        --margin-horizontal-large: 4vw;
        --margin-horizontal-medium: 3vw;
        --margin-horizontal-small: 2vw;
        --margin-vertical-large: 4vw;
        --margin-vertical-medium: 2vw;
        --margin-vertical-small: 1vw;
        --margin-vertical-small: 0.5vw;
        --text-size-h1: 8vw;
        --text-size-h2: 6vw;
        --text-size-h3: 5vw;
        --text-size-body: 4vw;
    }
}

/* Common. */
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, th {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--colour-text);
}

h1{
    font-size: var(--text-size-h1);
    margin-top: var(--margin-vertical-medium)
}

h2{
    font-size: var(--text-size-h2);
    margin-top: var(--margin-vertical-medium)
}

h3{
    font-size: var(--text-size-h3);
    margin-top: var(--margin-vertical-small)
}

p, td, a{
    font-size: var(--text-size-body);
    margin-top: var(--margin-vertical-small);
}

body{
    background-color: var(--colour-page-background);
}

.contentBlock{
    margin-top: var(--margin-vertical-large);
    background-color: var(--colour-content-background);
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.contentHorizontalMargin{
    margin-left: var(--margin-horizontal-medium);
    margin-right: var(--margin-horizontal-medium);
}

.contentVerticalMargin{
    margin-top: var(--margin-vertical-medium);
    margin-bottom: var(--margin-vertical-medium);
}

.contentHorizontalPadding{
    padding-left: var(--margin-horizontal-medium);
    padding-right: var(--margin-horizontal-medium);
}

.contentVerticalPadding{
    padding-top: var(--margin-vertical-medium);
    padding-bottom: var(--margin-vertical-medium);
}

div#content{
    max-width: 100%;
    margin: 0 auto 0 auto;
}

/* For show_roster.php. */
:root{
    --locomotive_row_height: 20vw;
}

div.locomotiveRow{
    width: 100vw;
    height: var(--locomotive_row_height);
    margin-top: var(--margin-vertical-medium);
}

div.locomotiveRow:hover{
    background-color: var(--colour-content-background-highlight);
}

div.locomotiveThumbnail, div.defaultLocomotiveThumbnail{
    height: var(--locomotive_row_height);
    width: var(--locomotive_row_height);
    float: left;
}

div.locomotiveThumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.defaultLocomotiveThumbnail img{
    width: 100%;
    height: 100%;
    filter: opacity(10%);
}

div.locomotiveRow div.textContent{
    float: left;
    width: calc(100vw - var(--locomotive_row_height) - (2 * var(--margin-vertical-medium)));
    height: 100%;
    margin: 0 var(--margin-vertical-medium) 0 var(--margin-vertical-medium);
}
/* 
h3.locomotiveNumber{
    margin-top: var(--margin-vertical-tiny);
} */

p.locomotiveName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.locomotiveAddress span.addressValue{
    font-weight: bold;
    margin-left: var(--margin-horizontal-medium);
}

table#locomotives{
    width: 100%;
    margin: var(--margin-vertical-large) 0 0 0;
}

table#locomotives tr th{
    text-align: left;
    padding: 0 0 var(--margin-vertical-medium) 0;
}

table#locomotives th:first-child, table#locomotives td:first-child{
    padding-left: var(--margin-horizontal-medium);
}

table#locomotives th:last-child, table#locomotives td:last-child{
    padding-right: var(--margin-horizontal-medium);
}

table#locomotives tr.even{
    background-color: #191919;
}

table#locomotives tr.odd{
    background-color: #222222;
}

table#locomotives tr:hover{    
    background-color: #555555;
}

table#locomotives tr:hover a p{    
    /* color: blueviolet; */
}

table#locomotives tr td a{
    display: block;
    padding: var(--margin-vertical-small) 0 var(--margin-vertical-small) 0;
    text-decoration: none;
}

/* For show_locomotive_details.php. */

h2.valueWithLabel span.valueLabel{
    font-weight: normal;
    vertical-align: center;
}

img#image{
    margin: var(--margin-vertical-large) 0 0 0;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

table.valueTable tr th{
    text-align: left;
}

table.valueTable tr td{
    padding: 4px 0 4px 0;
}

table.valueTable tr td p.value{
    font-weight: bold;
}

table.valueTable th:first-child, table.valueTable td:first-child{
    padding-right: var(--margin-horizontal-large);
}