/* Variables. */

:root{
    --margin-horizontal-large: 32px;
    --margin-horizontal-medium: 24px;
    --margin-horizontal-small: 16px;
    --margin-vertical-large: 32px;
    --margin-vertical-medium: 16px;
    --margin-vertical-small: 8px;
    --text-size-h1: 34px;
    --text-size-h2: 26px;
    --text-size-h3: 20px;
    --text-size-body: 16px;

}

@media only screen and (max-width: 767px){
    :root{
        --margin-horizontal-large: 4vw;
        --margin-horizontal-medium: 3vw;
        --margin-horizontal-small: 2vw;
        --margin-vertical-large: 4vw;
        --margin-vertical-medium: 2vw;
        --margin-vertical-small: 1vw;
        --text-size-h1: 4vw;
        --text-size-h2: 3vw;
        --text-size-h3: 2.5vw;
        --text-size-body: 2vw;
    }
}

/* Common. */
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, th {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

h1{
    font-size: var(--text-size-h1);
}

h2{
    font-size: var(--text-size-h2);
}

h3{
    font-size: var(--text-size-h3);
    margin: var(--margin-vertical-large) 0 var(--margin-vertical-small) 0;
}

p, td, a{
    font-size: var(--text-size-body);
}

body{
    background-color: #111111;
}

div#content{
    max-width: 100%;
    margin: 0 auto 0 auto;
}

div.content_side_margin{
    margin: 0 var(--margin-horizontal-medium) 0 var(--margin-horizontal-medium);
}

h1#title{
    margin: var(--margin-vertical-large) 0 0 0;
}

p#subtitle{
    margin: var(--margin-vertical-small) 0 0 0;
}

/* For show_roster.php. */
table#locomotives{
    width: 100%;
    margin: var(--margin-vertical-large) 0 0 0;
}

table#locomotives tr th{
    text-align: left;
    padding: 0 0 var(--margin-vertical-medium) 0;
}

table#locomotives th:first-child, table#locomotives td:first-child{
    padding-left: var(--margin-horizontal-medium);
}

table#locomotives th:last-child, table#locomotives td:last-child{
    padding-right: var(--margin-horizontal-medium);
}

table#locomotives tr.even{
    background-color: #191919;
}

table#locomotives tr.odd{
    background-color: #222222;
}

table#locomotives tr:hover{    
    background-color: #555555;
}

table#locomotives tr:hover a p{    
    /* color: blueviolet; */
}

table#locomotives tr td a{
    display: block;
    padding: var(--margin-vertical-small) 0 var(--margin-vertical-small) 0;
    text-decoration: none;
}

/* For show_locomotive_details.php. */
h2#name{
    margin: var(--margin-vertical-small) 0 0 0;
}

h2#address{
    margin: var(--margin-vertical-small) 0 0 0;
}

h2.valueWithLabel span.valueLabel{
    font-weight: normal;
    vertical-align: center;
}

img#image{
    margin: var(--margin-vertical-large) 0 0 0;
    border-radius: 2px;
    width: 100%;
}

table.valueTable tr th{
    text-align: left;
}

table.valueTable tr td{
    padding: 4px 0 4px 0;
}

table.valueTable tr td p.value{
    font-weight: bold;
}

table.valueTable th:first-child, table.valueTable td:first-child{
    padding-right: var(--margin-horizontal-large);
}